<section id="page-title" data-bg-parallax="{IMAGE}">
    <div class="parallax-container img-loaded" data-velocity="-.140" style="background: url('https://datausa.io/api/profile/geo/16000US1928515/splash');"></div>
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="page-title">
            <h1 class="text-uppercase text-medium">THE MATH</h1>
            <!--<span>With an adult population estimated at <strong>{POP}</strong>, The Freedom Dividend would bring this town <strong>{TOTAL}</strong> every single month.</span>-->
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row  m-b-50">
            <div class="col-lg-6">
                <div class="heading-text heading-section">
                    <h2>FREEDOM DIVIDEND CALCULATIONS</h2>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-6">
                        <p>The Freedom Dividend would be available on an opt-in basis to every eligible American.
                            The criteria include:</p>
                    <ul class="list-icon list-icon-check list-icon-colored">
                        <li>Age 18 or older</li>
                        <li>Not currently in prison</li>
                        <li>Not living overseas&mdash;although they can accumulate it while they are away, and they may collect it once they return home.</li>
                    </ul>
                    <p>Total population estimates are sourced from the API at <a href="https://datausa.io" target="_blank">DataUSA</a>. The calculation
                    then multiplies that figure by <strong>71.4%</strong> to arrive at the "estimated adult population" number. This is the number of people
                        assumed to be eligible for the Freedom Dividend.
                        </p>
                        <p>The assumptions made
                    in that calculation are as follows:</p>
                        <ul class="list-icon list-icon-check list-icon-colored">
                            <li><strong>77.6%</strong> of all US residents are age 18 or older<br /><span class="citation">Source: <a href="https://www.census.gov/data/tables/time-series/demo/popest/2010s-national-detail.html" target="_blank">National Population by Characteristics: 2010-2018, US Census</a></span></li>
                            <li><strong>99.4%</strong> of those adults are not currently in prison<br /><span class="citation">Source: Of the <a href="https://www.vera.org/downloads/publications/people-in-prison-in-2018-updated.pdf" target="_blank">1,471,200</a> Americans currently in prison, all except for <a href="https://www.prisonpolicy.org/reports/youth2018.html" target="_blank">53,000</a> are adults. </span></li>
                            <li><strong>92.6%</strong> of residents are US citizens.<br /><span class="citation">Source: <a href="https://www.kff.org/other/state-indicator/distribution-by-citizenship-status/?dataView=0&currentTimeframe=0&sortModel=%7B%22colId%22:%22Location%22,%22sort%22:%22asc%22%7D" target="_blank">Kaiser Family Foundation, Population Distribution by Citizenship Status</a></span></li>


                        </ul>
                        <!-- <p>For a more thorough analysis of the costs and revenue sources for the Freedom Dividend, visit <a href="https://freedom-dividend.com/price/#" target="_blank">Freedom Dividend Math</a> and review <a href="https://docs.google.com/spreadsheets/d/1obvYTGmhNgtTO0VmNeOm9tYNBsqD13b4TpVdc24b8x4/copy" target="_blank">their public spreadsheet</a>.</p> -->
                    </div>
                    <div class="col-lg-6"><img src="static/images/thomas-leemon-4yzOMGk0V1Q-unsplash-600.jpg" /></div>
                </div>
            </div>
        </div>

    </div>
</section>

