

<section class="m-t-80 p-b-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="page-error-404">404</div>
            </div>
            <div class="col-lg-6">
                <div class="text-left">
                    <h1 class="text-medium">{ERROR_TITLE}</h1>
                    <p class="lead">{ERROR_MESSAGE}</p>
                    <div class="seperator m-t-20 m-b-20"></div>
                    <div class="search-form">
                        <p>Please <a href="javascript:history.back()">go back and try again</a>.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>