
<!-- Footer -->
<footer id="footer">
    <div class="footer-content">
        <div class="container"> <div class="row">
                <div class="col-lg-3">
                    <div class="widget">
                        <div class="widget-title">Every Single Month</div>
                        <p class="mb-5">Created by a volunteer. Not affiliated with any political campaign or political action committee.<br><br>
                            <a href="mailto:contact@everysinglemonth.org">contact@everysinglemonth.org</a>
                        </p>

                    </div>
                </div>
            <div class="col-lg-6">
                <div class="widget">
                    <div class="widget-title">&nbsp;</div>
                    <p class="">Census data is sourced from <a href="https://datausa.io" target="_blank">DataUSA</a>.
                        Calculations assume <strong>71.4%</strong> of the total population would be eligible for the Freedom Dividend</a> (<a href="index.php?action=citation" style="color:black">See calculations</a>). Image results are sourced from Google Images.
                    </p>
                    <p class="">Photography by <a href="https://unsplash.com/@sjdphoto?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Seth Dewey</a>, <a href="https://unsplash.com/@seanbenesh?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Sean Benesh</a>, and <a href="https://unsplash.com/@shortraspy?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Thomas Leemon</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>

                    </p>


                </div>
            </div>

            </div>
        </div>
    </div>
    <div class="copyright-content">
        <div class="container">
            <div class="copyright-text text-center">&copy; 2019 Every Single Month.
            </div>
        </div>
    </div>
</footer>
<!-- end: Footer -->
</div>
<!-- end: Body Inner -->

<!-- Scroll top -->
<a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
<!--Plugins-->
<!--<script src="static/js/jquery.js"></script>-->
<script src="static/js/plugins.js"></script>
<!--Template functions-->
<script src="static/js/functions.js"></script>
<!-- ts -->
</body>

</html>
