<section id="saved" class="">
    <div class="container">
        <div class="heading-text heading-section">
            <h2>IMAGE SAVED</h2>
            <span class="lead">Right click or tap and hold on the image below to save it to your device, or to share it on social media.</span>
        </div>
        <div id="finalImage">
            <img src="{PNGURI}" class="img-fluid rounded" alt="">
            <div class="caption text-center">
                Permanent URL: <a href="{PNGURI}">{PNGURI}</a>
            </div>
        </div>
    </div>
</section>