

<!-- Inspiro Slider -->
<div id="slider" class="inspiro-slider slider-fullscreen dots-creative">
    <!-- Slide 1 -->
    <div class="slide kenburns" data-bg-image="static/images/seth-dewey-EOlo15oy8Ks-unsplash-1920.jpg">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="slide-captions text-center text-light">
                <!-- Captions -->
                <h1>The Freedom Dividend</h1>
                <p>With <strong>$1,000</strong> given each month to every American adult, see how this would impact your town.</p>

                <div id="formContainer">
                <form action="index.php" style="">

                    <input type="hidden" name="action" value="process" />
                    <!--    <input type="text" size="35" name="city" placeholder="City or town" id="name_input" list="huge_list" value="{CITY}" />-->
                    <input type="text" class="form-control" name="city_name" placeholder="Enter your town name" id="name_input" list="huge_list" value="{CITY_NAME}" />
                    <input type="hidden" size="15" name="city" id="geo" value="{CITY}" placeholder="" />
                    <datalist id="huge_list">
                    </datalist>
                    <!--<input type="submit" value="Generate" class="btn" />-->
                    <button type="submit" class="btn btn-light-hover btn-light-hover">Calculate &nbsp;<i class="icon-arrow-right"></i></button>

                    {ERROR}

                </form>

                <script type="text/javascript">

                    $(document).ready(function() {
                        $('#name_input').autocomplete({ source:'sources/autocomplete_cityname.php', select: acSelected, focus: acSelected, minLength:3 });
                    });

                    function acSelected(event, ui) {
                        var acString = ui.item.value;
                        var acInfo = acString.split("||");
                        $("#name_input").val(acInfo[4]);
                        $("#geo").val(acInfo[0]);
                        //$("#extra_info").html("Extra Info from the query: "+acInfo[0]+", "+acInfo[1]+", "+acInfo[2]+", "+acInfo[3]+", "+acInfo[4]+", ");

                        // now that we've handled the data, don't re-modify the city field
                        return false;
                    }

                </script>



                </div>
                <!-- end: Captions -->
            </div>
        </div>
    </div>
    <!-- end: Slide 1 -->
</div>
<!--end: Inspiro Slider -->
<!-- WELCOME -->
<section id="freedomdividend" class="p-b-0">
    <div class="container">
        <div class="heading-text heading-section text-center m-b-40" data-animate="fadeInUp">
            <h2>THE FREEDOM DIVIDEND</h2>
        </div>
        <div class="row" data-animate="fadeInUp">
            <div class="col-lg-6">
                <span class="lead">The Freedom Dividend is a universal basic income, <a href="https://www.yang2020.com/policies/the-freedom-dividend/" target="_blank">proposed by
                    Andrew Yang</a>, a candidate for President in the 2020 Democratic Primary.<br /><Br /></span>
                <p>This form of basic income that he is proposing for the United States is a set of guaranteed payments of $1,000 per month, or $12,000 per year, to all U.S. citizens over the age of 18. Yes, that means you and everyone you know would get $1,000/month every month from the U.S. government, no questions asked.</p>
                <p>This will create a <strong>massive economic stimulus</strong> for small towns, because much of this money will be spent locally.</p>
                <p>Learn more <a href="https://freedom-dividend.com/" target="_blank">about the Freedom Dividend</a>.</p>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid" src="static/images/sean-benesh-3vZqF0ky_Cg-unsplash-800.jpg"  alt="">
            </div>

        </div>
    </div>
</section>
<!-- end: WELCOME -->
<!-- WHAT WE DO -->
<section class="background-grey" id="faqs">
    <div class="container">
        <div class="heading-text heading-section">
            <h2>Why?</h2>
            <span class="lead">Andrew Yang's Freedom Dividend would positively transform society and virtually eliminate U.S. household poverty.</span>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div data-animate="fadeInUp" data-animate-delay="0">
                    <h4>Recognizes Unpaid Work</h4>
                    <p>Recognizes the hard work at home by caretakers of the young, sick or elderly.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div data-animate="fadeInUp" data-animate-delay="200">
                    <h4>Empowers Women</h4>
                    <p>A thousand dollars a month in women’s hands provides economic freedom to leave exploitative jobs and abusive relationships.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div data-animate="fadeInUp" data-animate-delay="400">
                    <h4>Increases Purchasing Power
                    </h4>
                    <p>Designed to increase the purchasing power of 94% of Americans, it frees businesses from worrying about the next driver of consumer spending.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div data-animate="fadeInUp" data-animate-delay="600">
                    <h4>Provides Economic Relief
                    </h4>
                    <p>Economic cushion for a tumultuous wave of job destruction in our current Fourth Industrial Revolution.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div data-animate="fadeInUp" data-animate-delay="800">
                    <h4>Restores Focus On Priorities
                    </h4>
                    <p>Direct economic relief frees us from our daily grind to support bigger issues, such as the environment.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div data-animate="fadeInUp" data-animate-delay="1000">
                    <h4>Fights Racial Inequality

                    </h4>
                    <p>Frees minority groups from the confines of racial inequality. A flat payout benefits more heavily those with less income including minority groups who experience a higher internal poverty rate.</p>
                </div>
            </div>
        </div>
        <a href="https://freedom-dividend.com/" target="_blank"><button type="button" class="btn btn-icon-holder btn-lg btn-light-hover btn-light-hover">Learn More<i class="icon-arrow-right"></i></button></a>
    </div>
</section>
<!-- END WHAT WE DO -->
<!-- PORTFOLIO -->
<section class="p-b-0" id="towns">
    <div class="container">
        <div class="heading-text heading-section">
            <h2>Other Towns</h2>
            <span class="lead">See what some of our other users have been generating and sharing, or <strong><a href="#towns2">try looking up your own town</a></strong>!</span>
        </div>
    </div>
    <div class="portfolio">
        <!-- Portfolio Items -->
        <div id="portfolio" class="grid-layout portfolio-4-columns" data-margin="0">
            {GALLERY}


        </div>
        <!-- end: Portfolio Items -->
    </div>
</section>
<!-- end: PORTFOLIO -->
<!-- AGAIN -->
<section class="p-b-0" id="towns2">
    <div class="container">
        <div class="text-center"><p style="font-size: 125%">How could the Freedom Dividend transform your community? </p>
           </div>
        <div id="formContainer2">
            <form action="index.php" style="text-align:center">

                <input type="hidden" name="action" value="process" />
                <!--    <input type="text" size="35" name="city" placeholder="City or town" id="name_input" list="huge_list" value="{CITY}" />-->
                <input type="text" class="form-control" name="city_name" placeholder="Enter your town name" id="name_input2" list="huge_list" value="{CITY_NAME}" />
                <input type="hidden" size="15" name="city" id="geo2" value="{CITY}" placeholder="" />
                <datalist id="huge_list2">
                </datalist>
                <!--<input type="submit" value="Generate" class="btn" />-->
                <button type="submit" class="btn btn-light-hover btn-light-hover">Calculate &nbsp;<i class="icon-arrow-right"></i></button>

                {ERROR}

            </form>

            <script type="text/javascript">

                $(document).ready(function() {
                    $('#name_input2').autocomplete({ source:'sources/autocomplete_cityname.php', select: acSelected2, focus: acSelected2, minLength:3 });
                });

                function acSelected2(event, ui) {
                    var acString = ui.item.value;
                    var acInfo = acString.split("||");
                    $("#name_input2").val(acInfo[4]);
                    $("#geo2").val(acInfo[0]);
                    //$("#extra_info").html("Extra Info from the query: "+acInfo[0]+", "+acInfo[1]+", "+acInfo[2]+", "+acInfo[3]+", "+acInfo[4]+", ");

                    // now that we've handled the data, don't re-modify the city field
                    return false;
                }

            </script>



        </div>
    </div>
</section>
<!-- end: AGAIN -->