<div style="float: right; width: 700px">
<iframe id="meme-iframe" width="1080" height="1080" src="{BASEURI}/index.php?action=render&city={CITY}" style="-webkit-transform:scale(0.5);-moz-transform-scale(0.5);margin:-250px"></iframe>

    <form action="index.php">
        <input type="hidden" name="action" value="write" />
        <input type="hidden" name="city" value="{CITY}" />
        <input type="hidden" name="src" id="formsrc" value="{IMAGE}" />
        <input type="submit" value="Save" style="font-size: 2em; padding: 8px; margin-bottom: 50px;" />
    </form>

</div>
<!--<div id="testimg" style="width:500px; height: 500px; background-image:url('cities/fortstevens.jpg')">Text is here</div>-->
