<!-- portfolio item -->
<div class="portfolio-item img-zoom ct-photography ct-marketing ct-media">
    <div class="portfolio-item-wrap">
        <div class="portfolio-image">
            <a href="#"><img src="{URL}" alt=""></a>
        </div>
        <div class="portfolio-description">
            <a title="Paper Pouch!" data-lightbox="image" href="{URL}"><i class="icon-maximize"></i></a>
            <a href="{URL}"><i class="icon-link"></i></a>
        </div>
    </div>
</div>
<!-- end: portfolio item -->