
<h2><a href="index.php" style="text-decoration: none; color: black">Every Single Month Generator</a></h2>
<p>Type in the name of a city or town, and then click 'Generate'. Or <a href="index.php?action=gallery">browse existing memes</a>.</p>
<form action="index.php">

    <input type="hidden" name="action" value="process" />
<!--    <input type="text" size="35" name="city" placeholder="City or town" id="name_input" list="huge_list" value="{CITY}" />-->
    <input size="35" name="city_name" placeholder="City or town" id="name_input" list="huge_list" value="{CITY_NAME}" />
    <input type="hidden" size="15" name="city" id="geo" value="{CITY}" placeholder="" />
    <datalist id="huge_list">
    </datalist>
    <input type="submit" value="Generate" />

</form>

<!--
<script type="text/javascript">

    window.addEventListener("load", function(){
        // Add a keyup event listener to our input element
        document.getElementById('name_input').addEventListener("keyup", function(event){hinter(event)});
        // create one global XHR object
        // so we can abort old requests when a new one is make
        window.hinterXHR = new XMLHttpRequest();
    });

    // Autocomplete for form
    function hinter(event) {
        var input = event.target;
        var huge_list = document.getElementById('huge_list');
        // minimum number of characters before we start to generate suggestions
        var min_characters = 3;

        if (!isNaN(input.value) || input.value.length < min_characters ) {
            return;
        } else {
            window.hinterXHR.abort();
            window.hinterXHR.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    var response = JSON.parse( this.responseText )['data'];
                    huge_list.innerHTML = "";

                    response.forEach(function(item) {
                        console.log(item);
                        // Create a new <option> element.
                        var option = document.createElement('option');
                        option.value = item[0];
                        option.text = item[4];
                        huge_list.appendChild(option);
                    });
                }
            };
            window.hinterXHR.open("GET", "https://datausa.io/api/search/?kind=geo&q=" + input.value, true);
            window.hinterXHR.send()
        }
    }


    function validateForm(){

        // Get the input element
        var input = document.getElementById('name_input');
        // Get the datalist
        var huge_list = document.getElementById('huge_list');


        // If we find the input inside our list, we submit the form
        for (var element of huge_list.children) {
            if(element.value == input.value) {
                return true;
            }
        }

        // we send an error message
        alert("name input is invalid")
        return false;
    }
</script>
-->
<script type="text/javascript">

    $(document).ready(function() {
        $('#name_input').autocomplete({ source:'sources/autocomplete_cityname.php', select: acSelected, focus: acSelected, minLength:3 });
    });

    function acSelected(event, ui) {
        var acString = ui.item.value;
        var acInfo = acString.split("||");
        $("#name_input").val(acInfo[4]);
        $("#geo").val(acInfo[0]);
        //$("#extra_info").html("Extra Info from the query: "+acInfo[0]+", "+acInfo[1]+", "+acInfo[2]+", "+acInfo[3]+", "+acInfo[4]+", ");

        // now that we've handled the data, don't re-modify the city field
        return false;
    }

</script>

</body>


</html>
